<p id="notice"><%= notice %></p>

<h1>Listing Growth Areas</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @growth_areas.each do |growth_area| %>
      <tr>
        <td><%= growth_area.title %></td>
        <td><%= link_to 'Show', growth_area %></td>
        <td><%= link_to 'Edit', edit_growth_area_path(growth_area) %></td>
        <td><%= link_to 'Destroy', growth_area, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Growth area', new_growth_area_path %>
