<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :middle_initial %><br>
    <%= f.text_field :middle_initial %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :role %><br>
    <%= f.select :role, select_role, prompt: "Select" %>
  </div>
  <div class="field">
    <%= f.label :friend_ids %><br>
    <%= f.select :friend_ids, options_from_collection_for_select(User.all, :id.to_s, :name, f.object.friend_ids.map{|x| x.to_s}), {}, { class: "ui multiple search selection dropdown", multiple: true, prompt: true } %>
  </div>
  <div class="field">
    <%= f.label :stage_id %><br>
    <%= f.select :stage_id, options_from_collection_for_select(Stage.all, :id.to_s, :title, f.object.stage_id), {}, { class: "ui search selection dropdown", prompt: true } %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
